---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Rokkitt', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$footer-height: 120px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.site-header{
	border-top: none;
	border-bottom: none;
}

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content{
  flex: 1;
  flex-direction: column;
}

.header-content{
  background-color: rgba(0,0,0,0.4);
  max-width: none;
  left: 0;
  right: 0;
}

.description{
  text-align: right;
}
.site-footer{
  background-image: url(/assets/images/head.JPG);
  background-color: #9E9E9E;
	border: none;
  height: $footer-height;
  flex: none;

  a {
    color: #424242;
  }
  @include media-query($on-laptop) {
    height: 160px;
  }

  @include media-query($on-palm) {
    height: auto;
    position: relative;
  }
}
#header-img{
  width: 100%;
}
.post-exerpt{
	font-size: 20px;
  img{
    padding-top: 20px;
  }
}
.post-link{
	font-size: 32px;
}
.post-link:visited{
  color: black;
}
.post-content{
  font-family: $secondary-font-family;
  font-size: 18px;
  h1, h2, h3 {
    font-family: $base-font-family;
  }
}
